$govuk-assets-path: "/protect-intellectual-property-drafts/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/protect-intellectual-property-drafts/assets/lib/hmrc-frontend/hmrc/";

$govuk-new-organisation-colours: true;

@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";
