@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.Mode

@this(
    layout: Layout,
    formHelper: FormWithCSRF,
    backLink: designsystembasedcomponents.backLink,
    errorSummary: designsystembasedcomponents.errorSummary,
    afaReferenceHeading: designsystembasedcomponents.afaReferenceHeading,
    heading1: designsystembasedcomponents.heading1,
    inputRadiosYesNo: designsystembasedcomponents.inputRadiosYesNo,
    button: designsystembasedcomponents.button,
    goToHomeLink: designsystembasedcomponents.goToHomeLink
)

@(form: Form[_], mode: Mode, afaId: AfaId)(implicit request: Request[_], messages: Messages)

@layout(
    pageTitle = Some(s"${errorPrefix(form)} ${messages("addAnotherTechnicalContact.title")}")
) {

        @formHelper(action = AddAnotherTechnicalContactController.onSubmit(mode, afaId), 'autoComplete -> "off") {

        @backLink()

        @errorSummary(form.errors, Some("value-yes"))

        @afaReferenceHeading(afaId)

        @heading1("addAnotherTechnicalContact.heading")

        <p class="govuk-body">@messages("addAnotherTechnicalContact.guidance")</p>

        @inputRadiosYesNo(
            form = form,
            legend = messages("addAnotherTechnicalContact.heading"),
            legendAsHeading = false,
            classes = "govuk-visually-hidden"
        )

        @button("site.continue")

        @goToHomeLink()
    }
}

@{
//$COVERAGE-OFF$
}
