@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.Mode

@this(
    layout: Layout,
    formHelper: FormWithCSRF,
    backLink: designsystembasedcomponents.backLink,
    errorSummary: designsystembasedcomponents.errorSummary,
    afaReferenceHeading: designsystembasedcomponents.afaReferenceHeading,
    inputText: designsystembasedcomponents.inputText,
    button: designsystembasedcomponents.button,
    goToHomeLink: designsystembasedcomponents.goToHomeLink
)

@(form: Form[_], mode: Mode, index: Int, afaId: AfaId, ipRightsType: String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some(errorPrefix(form) + " " + messages("ipRightsRegistrationNumber.title", ipRightsType))) {

    @formHelper(action = IpRightsRegistrationNumberController.onSubmit(mode, index, afaId), 'autoComplete -> "off") {

        @backLink()

        @errorSummary(form.errors)

        @afaReferenceHeading(afaId)

        @inputText(
            form = form,
            id = "value",
            name = "value",
            label = messages("ipRightsRegistrationNumber.heading", ipRightsType),
            isPageHeading = true,
            classes = Some("govuk-!-width-three-quarters")
        )

        @button("site.continue")

        @goToHomeLink()
    }
}

@{
    //$COVERAGE-OFF$
}
