@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.Mode

@this(
    layout: Layout,
    formHelper: FormWithCSRF,
    backLink: designsystembasedcomponents.backLink,
    errorSummary: designsystembasedcomponents.errorSummary,
    afaReferenceHeading: designsystembasedcomponents.afaReferenceHeading,
    inputRadiosYesNo: designsystembasedcomponents.inputRadiosYesNo,
    button: designsystembasedcomponents.button,
    goToHomeLink: designsystembasedcomponents.goToHomeLink
)

@(form: Form[_], mode: Mode, applicantLegalContactName: String, afaId: AfaId)(implicit request: Request[_], messages: Messages)

@layout(
    pageTitle = Some(s"${errorPrefix(form)} ${messages("isApplicantLegalContactUkBased.title", applicantLegalContactName)}")
    ) {

    @formHelper(action = IsApplicantLegalContactUkBasedController.onSubmit(mode, afaId), 'autoComplete -> "off") {

        @backLink()

        @errorSummary(form.errors, Some("value-yes"))

        @afaReferenceHeading(afaId)

        @inputRadiosYesNo(
            form = form,
            legend = messages("isApplicantLegalContactUkBased.heading", applicantLegalContactName)
        )

        @button("site.continue")

        @goToHomeLink()
    }
}

@{
    //$COVERAGE-OFF$
}
