@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.Mode

@this(
    layout: Layout,
    formHelper: FormWithCSRF,
    backLink: designsystembasedcomponents.backLink,
    errorSummary: designsystembasedcomponents.errorSummary,
    afaReferenceHeading: designsystembasedcomponents.afaReferenceHeading,
    heading1: designsystembasedcomponents.heading1,
    inputText: designsystembasedcomponents.inputText,
    button: designsystembasedcomponents.button,
    goToHomeLink: designsystembasedcomponents.goToHomeLink
)

@(form: Form[_], mode: Mode, contactName: String, afaId: AfaId)(implicit request: Request[_], messages: Messages)

@layout(
    pageTitle = Some(errorPrefix(form) + " " + messages("technicalContactUkAddress.title", contactName))
) {

    @formHelper(action = TechnicalContactUkAddressController.onSubmit(mode, afaId), 'autoComplete -> "off") {

        @backLink()

        @errorSummary(form.errors)

        @afaReferenceHeading(afaId)

        @heading1("technicalContactUkAddress.heading", contactName)

        @inputText(
            form = form,
            id = "line1",
            name = "line1",
            label = "technicalContactUkAddress.line1",
            isPageHeading = false,
            classes = Some("govuk-!-width-three-quarters")
        )

        @inputText(
            form = form,
            id = "line2",
            name = "line2",
            label = "technicalContactUkAddress.line2",
            labelClasses = Some("govuk-visually-hidden"),
            isPageHeading = false,
            classes = Some("govuk-!-width-three-quarters")
        )

        @inputText(
            form = form,
            id = "town",
            name = "town",
            label = "technicalContactUkAddress.town",
            isPageHeading = false,
            classes = Some("govuk-!-width-two-thirds")
        )

        @inputText(
            form = form,
            id = "county",
            name = "county",
            label = "technicalContactUkAddress.county",
            isPageHeading = false,
            classes = Some("govuk-!-width-two-thirds")
        )

        @inputText(
            form = form,
            id = "postCode",
            name = "postCode",
            label = "technicalContactUkAddress.postCode",
            isPageHeading = false,
            classes = Some("govuk-!-width-one-half")
        )

        @button("site.continue")

        @goToHomeLink()
    }
}

@{
    //$COVERAGE-OFF$
}
