@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(errorSummary: designsystembasedcomponents.errorSummary)

@(formErrors: Seq[FormError])(implicit messages: Messages)


@if(formErrors.nonEmpty && formErrors.head.args.nonEmpty && (formErrors.head.args.head == "day" || formErrors.head.args.head == "month" || formErrors.head.args.head == "year")) {
 @errorSummary(formErrors, Some(s"value.${formErrors.head.args.head}"))
} else {
 @errorSummary(formErrors, Some("value.day"))
}
