@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import viewmodels.ReviewRow

@this()

@(reviewRows: Seq[ReviewRow])(implicit messages: Messages)

<dl class="govuk-summary-list govuk-!-width-one-half">
    @reviewRows.map{ row =>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                @messages(row.name)
            </dt>
            @if(row.deleteUrl.isDefined){
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@row.deleteUrl.get.url">
                        <span>@messages("site.delete")</span>
                        <span class="govuk-visually-hidden">@messages("site.niceClass.hiddenText", row.name)</span>
                    </a>
                </dd>
            }
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="@row.changeUrl.url">
                    <span>@messages("site.edit")</span>
                    <span class="govuk-visually-hidden">@messages("site.niceClass.hiddenText", row.name)</span>
                </a>
            </dd>
        </div>
    }
</dl>
